body {
  background-color : white;
}

#topnav_container {
  background-color : #b3cde0;
  overflow : auto;
}

.btns_topnav {
  overflow : auto;
  float : left;
  border : none;
  display : block;
  padding : 10px;
  padding-left : 10%;
  color : green;
}

/* force images to be small */
.topnav_images {
  width: 2em;
  height: 2em;
}

img {
  width : 2em;
  height : 2em;
}

#btn_submit {
  margin : 20px;
  margin-left : 0px;
}

h1 {
  font-size : 20px;
  padding-left : 25%;
  padding-right : 25%;
  text-align : center;
  color : white;
}

#header {
  background-color : #011f4b;
  padding : 10px;
/*  z-index : 1;
  top : 0px;
  left : 0px;
  width : 100%;
  */
}

#middle {
  /*margin-left : 200px;*/
  background-color : #6497b1;
  padding : 5%;
}

#footer {
  padding : 1em;
  background-color : #005b96;
}
/*
#tbl_clients {
  font-size : 14px;
  padding : 10px;
  border : 1px solid black;
}
*/
#tbl_clients * {
  border : 1px solid black;
}

td {
  font-size : 20px;
  text-align : center;
}
